@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Retro Sprzęt</h1>
    <p class="lead">Docelowo aplikacja ma się zajmować prowadzeniem sprzedaży retro sprzętów</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

